body{
	 background-color: #d6d6d6;
    font-family: "Helvetica neue","Helvetica","Sans-serif","Arial";
}

#header{
	background-color: #191919;
	
}

#nav{

	left: 70px;
	margin-top: 15px;
	
}

.link a:link {
    color: white; 
    text-decoration: none;
}

.link a:visited {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: white;
    text-decoration: none;
}

 .link a:active {
        color: white;
    text-decoration: none;
}

.jumbootorn{
	
	margin-top: 20px;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
      height: 90%;

  }