body{
	 background-color: #d6d6d6;
    font-family: "Helvetica neue","Helvetica","Sans-serif","Arial";
    
}
#main_wrapper{
    background-image: url('images/html.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    margin-left: 9%;
    
}

#header{
	background-color: #191919;
	
}

#nav{

	left: 70px;
	margin-top: 15px;
	
}

.link a:link {
    color: pink; 
    text-decoration: none;
}

.link a:visited {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: white;
    text-decoration: none;
}

 .link a:active {
        color: white;
    text-decoration: none;
}
.more {
    background: #272930;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    color: white;
 	height: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}



.audio-nada {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#3c4047),color-stop(100%,#212328));
    background: -webkit-linear-gradient(top,#3c4047,#212328);
    background: -moz-linear-gradient(top,#3c4047,#212328);
    background: -o-linear-gradient(top,#3c4047,#212328);
    background: linear-gradient(top,#3c4047,#212328);
    float: right;
    height: 115px;
    width: 20px;
}
.center{

    height: 115px;
    width: 90%;
    background-color: white;
}	
.footer{
	background-color: white;
	width: 100%;
}
.vav{
	text-align: center;
	word-spacing: 10px;
	font-size: 11px
}

h6{
	color: #C0C0C0;
}
ul{
	margin-top: 70px;
	margin-left: 30px;
	list-style: none;
	line-height: 25px;
	
}
ul li{
	font-size: 13px;
	font-family: Helvetica "neue","Helvetica","Sans-serif","Arial";
	color: black;
}

ul,li,a:link{
	 
    color: gray; 
    text-decoration: none;
}

ul,li,a:visited {
    color: gray;
    text-decoration: none;
}

ul , li ,a:hover {
    color: #C0C0C0;
    text-decoration: none;
}

ul , li ,a:active {
        color: gray;
    text-decoration: none;
}



