body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
        body, a, a:hover, a:visited {
            color: white;
        }

        #gradient {


            font-family: 'Montserrat', sans-serif;

            background: rgba(157, 0, 255, 1);
            background: -moz-linear-gradient(-45deg, rgba(157, 0, 255, 1) 0%, rgba(125, 66, 235, 1) 50%, rgba(87, 238, 255, 1) 100%);
            background: -webkit-linear-gradient(-45deg, rgba(157, 0, 255, 1) 0%, rgba(125, 66, 235, 1) 50%, rgba(87, 238, 255, 1) 100%);
            background: -o-linear-gradient(-45deg, rgba(157, 0, 255, 1) 0%, rgba(125, 66, 235, 1) 50%, rgba(87, 238, 255, 1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(157, 0, 255, 1) 0%, rgba(125, 66, 235, 1) 50%, rgba(87, 238, 255, 1) 100%);
            background: linear-gradient(135deg, rgba(157, 0, 255, 1) 0%, rgba(125, 66, 235, 1) 50%, rgba(87, 238, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d00ff', endColorstr='#57eeff', GradientType=1);
        }

        ul {
            list-style-type: none;
            color: black;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -moz-padding-start: 0;
            -webkit-padding-start: 0;
        }

        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .center-mobile {
                display: block;
                height: 360px;
                margin-right: auto;
                margin-left: auto;
        }


        .f1 li:first-child {
            line-height: 3.4em;
        }

        div.f1 div {
            margin-top: 25px;
            line-height: 20em;
        }

        .f1{
            margin-top: 30px;
        }


        .f2 {

            margin-top: 25px;
            margin-right: 30px;
            margin-bottom: 35px;
            padding-top: 1px;
            font-family: 'PT Mono', monospace;
        }

        .f2 div {
            margin-top: 5px;

        }

        .f {
            font-family: 'PT Mono', monospace;
            font-size: 15px;
        }

        .f a {
            transition: color .25s,border-bottom-color .25s;
            border-bottom: 1px solid transparent;
        }

        .f a, .f a:visited {
            color: #9b00ff;
            text-decoration: none;
        }

        .f a:hover {
            border-bottom: 1px solid #ff00db;
            color:#ff00db
        }

        ul,li {
            line-height: 2em;
        }

        h1, h3 {
            text-align: center;
        }

        h1 {
            height: 50px;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        h3 {
            color: #faff9c;
        }

        .icon.logo {
            font-size: 250px;
            line-height: 50px;
        }

        #top {
            font-size: 20px;
        }

        #lead {
            font-size: 16px;
        }

        @media only screen and (min-width: 768px) {
            #top {
                font-size: 25px;
            }
            #lead {
                font-size: 19px;
            }
        }

        @media only screen and (min-width: 992px) {
            #top {
                font-size: 32px;
            }
            #lead {
                font-size: 23px;
            }
        }

        #browse {
            text-align: center;
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 50px;

        }

        #browse a, #browse a:hover, #browse a:visited {
            text-decoration: none;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 0 2px 3px 1px;
        }

        #browse a:hover {
            color: black;
        }

        .btn {
            margin-bottom: 10px;
            margin-top: 10px;
            background: transparent;
        }

        .btn:hover {
            background: #000000;
        }

        .btn i {
            display: block;
            width: 130px;
            height: 35px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .btn-z {
            width: 170px;
            color: white;
            font-size: 18px;
            line-height: 33px;
        }

        a.btn-z, a.btn-z:hover, a.btn-z:visited {
            color: white;
        }

        #buttons {
            position: relative;
            top: 20px;
        }

        @media only screen and (min-width: 768px) {
            #buttons {
                left: -40px;
            }
        }

        @media only screen and (min-width: 992px) {
            #buttons {
                left: -70px;
            }
        }

    